.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex: 1; /* Para o footer descer */
}

.hero {
  text-align: center;
  margin-bottom: 3rem;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #00ff99;
  font-weight: bold;
  transition: opacity 1s ease, filter 1s ease; /* aqui a transição */
}

/* Efeito extra durante a Matrix Animation */
.matrixActive {
  opacity: 1;
  filter: blur(0px);
}

.inactiveMatrix {
  opacity: 0;
  filter: blur(5px);
}

.tagline {
  font-style: italic;
  color: #aaaaaa;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}
.cardsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
/* Animação do glitch */
@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff00c1, -2px -2px #00ffe7;
    transform: translate(0);
  }
  20% {
    text-shadow: -2px -2px #ff00c1, 2px 2px #00ffe7;
    transform: translate(1px, -1px);
  }
  40% {
    text-shadow: 2px -2px #ff00c1, -2px 2px #00ffe7;
    transform: translate(-1px, 1px);
  }
  60% {
    text-shadow: -2px 2px #ff00c1, 2px -2px #00ffe7;
    transform: translate(1px, 1px);
  }
  80% {
    text-shadow: 2px 2px #ff00c1, -2px -2px #00ffe7;
    transform: translate(-1px, -1px);
  }
  100% {
    text-shadow: 0 0 #ff00c1, 0 0 #00ffe7;
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 0.5s infinite;
}
