.card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 2rem;
  width: 250px;
  text-align: center;
}

.content {
  margin-top: 1rem;
  text-align: left;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid #00ff99;
  border-radius: 8px;
  background: none;
  color: #00ff99;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: #00ff99;
  color: #0d0d0d;
}

.steam {
  border-color: #1b2838;
  color: #1b2838;
  display: block;
  margin: 1rem auto;
}

.steam:hover {
  background-color: #1b2838;
  color: #ffffff;
}

.discord {
  border-color: #7289da;
  color: #7289da;
  display: block;
  margin: 0.5rem auto 0;
}

.discord:hover {
  background-color: #7289da;
  color: #ffffff;
}

.online {
  color: #00ff99;
  font-weight: bold;
}

.loreContent {
  max-width: 900px;
  margin: 100px auto 0;
  padding: 2rem;
  line-height: 2; /* Espaçamento entre linhas */
  text-align: justify;
  color: #eee;
  font-size: 1.3rem;
}

/* Espaçamento duplo entre parágrafos */
.loreContent p {
  margin-bottom: 2rem;
}

/* Animação de Glitch - Tremedeira */
@keyframes glitchEffect {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.glitchChar {
  display: inline-block;
  animation: glitchEffect 0.5s infinite alternate;
  color: #00ff99;
}

/* Estilo para letras digitadas */
.typedChar {
  opacity: 0;
  animation: typing 3s steps(40) forwards;
}

@keyframes typing {
  to {
    opacity: 1;
  }
}
