.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
}

.logoTitle {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
}

.title {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #00ff99;
  font-weight: bold;
}

.burger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Único menu */
.links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.links li a:hover {
  color: #00ff99;
}

.themeToggle {
  background: transparent;
  border: 2px solid var(--primary-color, #00ff99);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--primary-color, #00ff99);
  cursor: pointer;
  transition: all 0.3s ease;
}

.themeToggle:hover {
  background-color: var(--primary-color, #00ff99);
  color: #0d0d0d;
}

.matrixActive {
  opacity: 1;
  filter: blur(0px);
  transition: opacity 1s ease, filter 1s ease;
}

.inactiveMatrix {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s ease, filter 1s ease;
}

/* Animação do glitch */
@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff00c1, -2px -2px #00ffe7;
    transform: translate(0);
  }
  20% {
    text-shadow: -2px -2px #ff00c1, 2px 2px #00ffe7;
    transform: translate(1px, -1px);
  }
  40% {
    text-shadow: 2px -2px #ff00c1, -2px 2px #00ffe7;
    transform: translate(-1px, 1px);
  }
  60% {
    text-shadow: -2px 2px #ff00c1, 2px -2px #00ffe7;
    transform: translate(1px, 1px);
  }
  80% {
    text-shadow: 2px 2px #ff00c1, -2px -2px #00ffe7;
    transform: translate(-1px, -1px);
  }
  100% {
    text-shadow: 0 0 #ff00c1, 0 0 #00ffe7;
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 0.5s infinite;
}

/* Mobile */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #111;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
  }

  .links.active {
    display: flex;
  }
}
